/*
Threme Name: Anatomia Norweskiego
Threme URI: http://anatomianorweskiego.com
Author: Marcin Retecki
*/

//  Variables
@import '../framework_master/scss/partials/variables';
@import '../framework_master/scss/partials/mixins';

//  Reset
@import '../framework_master/scss/partials/reset';

//  Core
@import '../framework_master/scss/partials/scaffolding';
@import '../framework_master/scss/partials/typography';
@import '../framework_master/scss/partials/images';
@import '../framework_master/scss/partials/buttons';
@import '../framework_master/scss/partials/forms';

//  Layout
@import '../framework_master/scss/partials/layout';
@import '../framework_master/scss/partials/grids';
@import '../framework_master/scss/partials/sections';

@import '../framework_master/scss/partials/navbar';
@import '../framework_master/scss/partials/ex';

//  Utilities
@import '../framework_master/scss/partials/utilities';

@import '../framework_master/scss/partials/shame';

//  Media
@import '../framework_master/scss/partials/media';






//
//  Links
//
a,
a:before {
  color: $anatomia-green;
}
a:link {
}
a:visited {
  color: $anatomia-green;
}
a:focus,
a:hover {
  color: $dark;
}
a:active {
  color: $dark;
  outline: 0;
}



//
//  SVG
//
.anatomia-svg {
  display: block;
  height: auto;
  padding: 0;
  margin: 0 auto -1px;

  touch-action: manipulation;
}


//
//  Section modifier
//
.anatomia-green-bottom {
  border-bottom: 3px solid $anatomia-green;
}

//
//  Nav
//


/*
  musimy przekształcić normalny navbar na tablet-portrait-up
  wtedy będzie łatwiej go themować w zależności od kontentu
 */
.navbar--anatomia {

  display: none;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: translate(0, -150%);

  @include for-tablet-landscape-up {
    display: inline-block;
    position: static;
    transform: translate(0, 0);
    z-index: 0;
  }
}
.navbar--anatomia .btn-nav {
  @include for-tablet-portrait-up {
    display: block;
    padding-top: $space;
    padding-bottom: $space;
    text-align: left;
  }
  @include for-tablet-landscape-up {
    display: inline-block;;
    padding-top: $space-half;
    padding-bottom: $space-half;
    text-align: center;
  }
}
//  when the menu hides, buttons change
.section-nav__toggle--anatomia {
  display: block;
  //padding-top: $space;
  //padding-bottom: $space;
  text-align: left;

  @include for-tablet-landscape-up {
    display: none;
  }
}

.btn-nav--koszyk {
  padding: 0 $space;
  padding-top: $space-quarter;
  padding-bottom: $space-quarter;
  margin: $space-quarter;
  border-radius: 3px;
}

.btn-nav--koszyk:focus,
.btn-nav--koszyk:hover,
.btn-black:focus,
.btn-black:hover {
  background-color: $anatomia-green;
  color: $white;
}

//
//  Top Section
//
.anatomia-title-wrapper {
  width: 35 * $space;
  max-width: 100%;
  margin: 0 auto;
  padding-top: $space-6;

  @include for-tablet-landscape-up {
    padding-top: $space-8;
  }
}
.anatomia-title {
  text-align: center;

  padding-bottom: $space-2;

  @include for-tablet-landscape-up {
    padding-bottom: $space-4;
  }
}
.anatomia-title__h {
  @include size-5;
  margin-bottom: $space;

  @include for-tablet-landscape-up {
    @include size-6;
    margin-bottom: $space-2;
  }


}

.anatomia-title__h-hide {
  font: 0/0 a;
  color: transparent;
}

.anatomia-title__h-replace {
  //  width from file
  width: 407px;
  max-width: 100%;
}

.anatomia-title__p {
  @include size-2;
  margin-bottom: 0;

  @include for-tablet-landscape-up {
    //@include size-3;

  }
}


.anatomia-cover-wrapper {
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}




//
//  Anatomia to
//
.anatomia-main-points {
  @include for-tablet-landscape-up {
    margin-left:-($space-2);
  }
}
.anatomia-main-points__item {
  position: relative;
  @include for-tablet-landscape-up {
    float: left;
    width: 50%;
  }
}

.anatomia-main-points__item:nth-child(2) {
  margin-top: $space;
  @include for-tablet-landscape-up {
    margin-top: 0;
  }
}
.anatomia-main-points__item:nth-child(n + 3) {
  margin-top: $space;
}


.anatomia-main-points__item__learn {
  position: relative;
  margin: 0 0 0 $space-2;
}
.anatomia-main-points__item__learn::before {
  @include size-1;
  display: inline-block;
  position: absolute;
  right: 100%;
  top: 0;
  width: $size-1;
  height: $size-1 * $line-1;
  content: '\2022';
  color: $green-light;
}

//
//  Opinie
//
.anatomia-opinie {
}

.anatomia-opinie__item {
  width: 34rem;
  max-width: 100%;
  padding: $space;
  margin-left: auto;
  margin-right: auto;
}
.anatomia-opinie__block {
  position: relative;
  margin-right: ($space-6 - $space);
  padding: $space-half;
  border-radius: 3px;
  background: $beige;
}
.anatomia-opinie__block::before {
  display: block;
  position: absolute;
  top: $space-2;
  left: 100%;
  border: $space-half solid transparent;
  border-left-color: $beige;
  content: '';
}

.anatomia-opinie__img {
  float: right;
  display: block;
  border-radius: 3px;
  width: $space-4;
}
.anatomia-opinie__text {
  font-size: $space;
  margin: 0;
}
.anatomia-order__one-book {
  margin-bottom: $space-half;

  @include for-tablet-landscape-up {
    margin-bottom: ($space-2 + $space-half);
  }
}

.anatomia-order__cards {
  width: $space-8;
  height: auto;
}

//
//  Spis treści
//
.anatomia-spis {
}
.anatomia-spis-columns {
  column-width: 13 * $space;
  column-gap: $space;
}
.anatomia-spis-columns__item {
  page-break-inside: avoid;
  break-inside: avoid;
}
.anatomia-spis-ul {
  @include size-0;
  margin: 0 0 $space $space-half;
}
.anatomia-spis-ul > li {
  margin: 0;
  padding-left: $space-half
}
.anatomia-spis-ul > li::before {
  color: $gray-on-dark;
  content: "\2043";
}
.anatomia-spis__pl {
  font-size: $size-mini;
  color: $gray-on-dark;
}

//
//  Autorzy
//
.autorzy-img {
  float: left;
  width: 50%;
  padding: 0 $space;
}


//
//  Zamówienia
//
.anatomia-order {
}
.anatomia-order__item-wrap {
  margin-bottom: $space-2;
  @include for-tablet-landscape-up {
    float: left;
    width: 33.33%;
    padding: 0 $space;
  }
}
.anatomia-order__item {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 3px 6px   rgba(0,0,0,0.16), 0 3px 6px   rgba(0,0,0,0.23);

  cursor: pointer;
}
.anatomia-order__item:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px   rgba(0,0,0,0.23);
}

.anatomia-order__text {
  border-radius: 3px 3px 0 0;
  text-align: center;
}

.anatomia-order__btn {
  margin: 0;
  width: 100%;
  border-radius: 0 0 3px 3px;
  padding: $space;
  background: $anatomia-green;
  @include for-tablet-landscape-up {
    padding: $space;
  }
}


.anatomia-faq__h3 {
  margin: $space-2 0 0;
}



//
//  Koszyk
//
.section-bag {
  position: absolute;
  top: $space-2 + $space-quarter;
  right: $space-quarter;
  z-index: 1;
  opacity: 0;
  display: none;

  width: 50%;
  max-width: $space * 16;
  padding: 0;
  border-radius: 3px;
  overflow: hidden;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px   rgba(0,0,0,0.23);
  transition: none;
}


//  Bag
.bag-item {
  @include size-0;
  position: relative;

  display: none;

  padding: $space-half $space-quarter $space-half;
  margin: 0;

  cursor: pointer;
  transition: none;
}

.bag-item + .bag-item {
  border-top: 1px solid $dark-light;
}

.bag-item__title {
  display: inline-block;
  padding: 0 $space-half;
}

.bag-item__price {
  float: right;
}

.bag-item__remove {
  @include size-0;
  position: absolute;
  right: 0;
  top: 0;
}

.section-bag__sum {
  @include size-0;
  padding: $space-quarter;
}

.section-bag__link,
.section-bag__link:visited {
  @include size-0;
  margin: 0;
  width: 100%;
  border-radius: 0;
  //color: #fff;
  //background: $anatomia-green;
}
.section-bag__link:focus,
.section-bag__link:hover {
  //color: #fff;
}
.section-bag__link:active {
  //background: $dark;
  //color: #fff;
}