//
//  New main nav/header
//

//  Not used now but maybe in the future
// .caret {
//   display: inline-block;
//   margin: $space-quarter 0;
//   border: 5px solid transparent;
//   border-top-color: $gray-on-dark;
//   border-bottom: 0;
// }

a:hover .caret,
.caret:hover {
  border-top-color: $white;
}

.header-spacer {
  height: $space-6;
  @include for-tablet-landscape-up {
    height: $space-2;
  }
}

.header-top {
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.header-top--fixed {
  position: fixed;
}

.header-top--absolute {
  position: absolute;
}

.header-top--shadowed {
  box-shadow: 0 0 $space rgba(0, 0, 0, 0.25);
}

.header-top--hidden {
  transform: translate3d(0, -100%, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.headroom {
  will-change: transform;
  transition: transform 0.4s ease;
}
.headroom--unpinned {
  transform: translate3d(0, -100%, 0);
}
.headroom--pinned {
  transform: translate3d(0, 0, 0);
}

.section-nav {
  width: $section-width;
  max-width: 100%;
  min-height: $space-2;
  margin: 0 auto;
}


.navbar {
  z-index: 110;
  position: relative;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  vertical-align: top;
  white-space: nowrap;
  display: flex;

  @include for-tablet-landscape-up {
    display: inline-block;
    width: auto;
  }
}
.navbar--dark {}
.navbar--white {}


/*ul*/
.navbar__list {
  padding:0;
  margin: 0;
}

/*ul*/
.navbar__list > li {
  display: inline;
  padding: 0;
  margin: 0;
}

/*ul*/
.navbar__list > li::before {
  display: none;
}

/*ul*/
.navbar__list a {
  margin: 0;
}

.navbar__list--main {
  padding: 0;
  display: flex;
  flex: 1 0 auto;
  @include for-tablet-landscape-up {
    padding: 0;
  }
}

.navbar__list--main .navbar__btn {
  display: flex;
  flex: 1 0 auto;
}
.navbar__list--padded {
  padding: 0 $space-2;
}

.btn-nav {
  padding: $space $space;
  margin: 0;
  border: 0;
  border-radius: 0;
  font-family: $bariol_reg;

  @include for-tablet-landscape-up {
    padding: $space-half $space;
  }
}


.navbar__btn,
.navbar__btn:visited {
  background-color: transparent;
  color: $gray-on-dark;
}
.navbar__btn:focus,
.navbar__btn:hover {
  background-color: $blue;
  color: $white;
}
.navbar__btn--active,
.navbar__btn--active:visited {
  color: $white;
}

.navbar__btn--white,
.navbar__btn--white:visited {
  color: $font-light;
}
.navbar__btn--white:focus,
.navbar__btn--white:hover,
.navbar__btn--white--active,
.navbar__btn--white--active:visited {
  color: $font-dark;
  background: none;
}

.navbar__like {
  padding: $space $space-quarter;
  display: inline-block;
  vertical-align: top;

  @include for-tablet-landscape-up {
    padding: $space-half $space-quarter;
  }
}
.navbar__like > iframe {
  border: none;
  overflow: hidden;
  width: 126px;
  height: 20px;
  display: block;
  margin: -2px 0;
  @include for-tablet-landscape-up {
    margin: 0;
  }
}

.navbar__arrow {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index:120;
  display: none;
  background: linear-gradient(90deg, rgba(37,44,51,1) 0%, rgba(37,44,51,1) 67%, rgba(37,44,51,0) 100%) !important;
}
.navbar__arrow--right {
  left: auto;
  right: 0;
  background: linear-gradient(270deg, rgba(37,44,51,1) 0%, rgba(37,44,51,1) 67%, rgba(37,44,51,0) 100%) !important;
}
.navbar__arrow--white {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,0) 100%) !important;
}
.navbar__arrow--right-white {
  left: auto;
  right: 0;
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,0) 100%) !important;
}


.navbar-logo {}
.navbar-logo__blue {
  color: $blue;
}

.navbar-logo:hover .navbar-logo__blue,
.navbar-logo__blue:hover,
.navbar-logo:active .navbar-logo__blue,
.navbar-logo:focus .navbar-logo__blue {
  color: $white;
}

//
//  Nav Submenu
//  Shows tags/categories on the main blog
//
.section-submenu {
  border-bottom: 1px solid $dark-bright;
}
.navbar-submenu {
  //  needs to be same as button
  height: $space-3;
  margin: 0 auto -1px;
  overflow: hidden;
  vertical-align: top;

  @include for-tablet-landscape-up {
    height: $space-2;
  }
}

/*ul*/.navbar-submenu__list {
  display: block;
  position: relative;
}
.navbar-submenu__list > li {
  position: static;
}

.navbar-submenu__btn,
.navbar-submenu__list a {
  //  same height as .navbar-submenu
  height: $space-3;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: $font-light;

  @include for-tablet-landscape-up {
    height: $space-2;
  }
}

.navbar-submenu__btn--more {
  z-index: 1;
  float: right;
}

.navbar-submenu__btn:focus,
.navbar-submenu__btn:hover,
.navbar-submenu__btn--active,
.navbar-submenu__list .navbar-submenu__btn--active {
  border-bottom-color: $dark-border;
  background-color: transparent;
  color: $font-dark;
}



//
//  Search Tags and Categories
//
.search-tags {
  column-gap: $space;
  column-count: 2;
}
.search-tags__btn,
.search-categories__btn {
  display: block;
  padding: $space-half $space;
  border-radius: 0;
  border-bottom: 1px solid $dark-bright;
  text-align: left;
  background-color: transparent;
  color: $font-light;
  font-family: $bariol_reg;
}
.search-tags__btn:focus,
.search-tags__btn:hover,
.search-categories__btn:focus,
.search-categories__btn:hover {
  border-bottom-color: $dark-border;
  background-color: transparent;
  color: $font-dark;
}
.search-categories {}