//
// Variables
//

//  Section width
$section-width: 1040px;
$real-section-width-rem: (1000rem / 20);

//
// 16-column grid
//
$col-15: (100% * 15/16);
$col-14: (100% * 14/16);
$col-13: (100% * 13/16);
$col-12: (100% * 12/16);
$col-11: (100% * 11/16);
$col-10: (100% * 10/16);
$col-9: (100% * 9/16);
$col-8: (100% * 8/16);
$col-7: (100% * 7/16);
$col-6: (100% * 6/16);
$col-5: (100% * 5/16);
$col-4: (100% * 4/16);
$col-3: (100% * 3/16);
$col-2: (100% * 2/16);
$col-1: (100% * 1/16);
$col-1-32: (100% * 1/32);

//
// Colors
//
$white: #fff;
$gray-light: #aaa;
$gray-on-dark: rgba(white, 0.7);
$gray: #ccc;
$dark-gray: #888;

$beige: #edeae7;
$beige-border: #aaa7a2;
$beige-hover: #ddd9d2;
$beige-light: #fff; // same as $white

$blue: #3a8ac0;
$blue-border: #2d6f99;
$blue-hover: #006eb3;
$blue-light: #73b9e6;

$green: #308c8c;
$green-border: #0f6666;
$green-hover: #1c7373;
$green-light: #60b3b3;

$orange: #de7642;
$orange-border: #b04c1a;
$orange-hover: #c55c27;
$orange-light: #ffaa7f;

$red: #dd4b39;
$red-border: #b0281a;
$red-hover: #c53727;
$red-light: #ff8575;

$dark: #35424c;
$dark-border: #1a2226;
$dark-hover: #1e2833;
$dark-light: #616b73;
$dark-bright: #d3d9de;

$color-fb: #3b5998;

$outer-space: #252c33;

$font-dark: #171f26;
$font-light: #616b73;
$font-semi-dark: #171f26;

//  Anatomia
$anatomia-green: #3B6A6C;


//
// Typography and spacing
//
$bariol: 'Bariol Light', 'bariol_lightlight', 'Gill Sans', 'Gill Sans MT', Helvetica, Arial,
  'Nimbus Sans L', Roboto, sans-serif;
$bariol-reg: 'Bariol Regular', 'bariol_regularregular', 'Gill Sans', 'Gill Sans MT', Helvetica,
  Arial, 'Nimbus Sans L', Roboto, sans-serif;
$body-font: 'Iowan Old Style', 'Book Antiqua', 'Palatino Linotype', 'Palatino',
  'URW Palladio L', 'Palatino LT STD', 'Droid Serif', 'Georgia', serif;

// Scale 1.333 rounded
$size-mini: 0.6rem;
$size-0: 0.75rem;
$size-1: 1rem;
$size-2: 1.3rem;
$size-3: 1.8rem;
$size-4: 2.4rem;
$size-5: 3.2rem;
$size-6: 4.2rem;

$line-0: 1.25;
$line-1: 1.5;




//
// Spacing
//
$space: 1rem;

$space-quarter: 0.25 * $space;
$space-half: 0.5 * $space;

$space-2: 2 * $space;
$space-3: 3 * $space;
$space-4: 4 * $space;
$space-6: 6 * $space;
$space-8: 8 * $space;




//
//  LEGACY
//  Media queries
//
$m905: 'screen and (max-width: 905px)';
$m770: 'screen and (max-width: 770px)';
$m640: 'screen and (max-width: 640px)';
$m400: 'screen and (max-width: 400px)';